.header {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-bottom: 1px groove rgba(106, 137, 152, 0.2);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.container {
  margin: 0 20%;
}

.link {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.link a {
  text-decoration: none;
  font-size: 14px;
  color: #534745;
}

.campaign-header {
  background: #ed7483;
  height: 50px;
}

.campaign-text {
  color: #fff;
  text-align: center;
  line-height: 50px;
}
