.top-img {
  height: 600px;
  background-image: url(../images/calm.jpg);
  background-size: cover;
}

.main-wrapper {
  padding: 70px 16px 104px;
  max-height: 800px;
  margin: 0 auto;
}

.main-wrapper p {
  line-height: 2.5;
}
